@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2.5rem;
  font-weight: bold; 
}

.headerText {
  font-size: 4rem;
  font-weight: bold;
}

@media (min-width: 640px){ 
  .headerText {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .headerText {
    font-size: 9rem;
  }
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-foreground);
}

hr {
  border: 0.5px solid var(--secondary-foreground);
}



@layer base {
  :root {
    --background: #100431;
    --foreground: #e8e3ec;
    --card: #ffffff;
    --card-foreground: #1a1a1a;
    --popover: #ffffff;
    --popover-foreground: #1a1a1a;
    --secondary-foreground: #c9bed2;
    --muted: #f2f2f2;
    --muted-foreground: #767676;
    --accent: #f2f2f2;
    --accent-foreground: #1a1a1a;
    --destructive: #e60000;
    --destructive-foreground: #fafafa;
    --border: #4b2d71;
    --input: #e6e6e6;
    --ring: #1a1a1a;
    --chart-1: #ff5733;
    --chart-2: #2bb673;
    --chart-3: #4c8cbb;
    --chart-4: #6bcf42;
    --chart-5: #ffb733;
    --radius: 0.5rem;
    --Gradient-1: #61307C;
    --Gradient-2: #222F66;
    
  }

}

@layer base {
  * {
    @apply border-border;
    font-family: 'Ubuntu', sans-serif;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}

@layer utilities {

}
