@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

@layer base {
  :root {
    --background: #100431;
    --foreground: #e8e3ec;
    --card: #ffffff;
    --card-foreground: #1a1a1a;
    --popover: #ffffff;
    --popover-foreground: #1a1a1a;
    --primary: #1a1a1a;
    --primary-foreground: #fafafa;
    --secondary: #f2f2f2;
    --secondary-foreground: #1a1a1a;
    --muted: #f2f2f2;
    --muted-foreground: #767676;
    --accent: #f2f2f2;
    --accent-foreground: #1a1a1a;
    --destructive: #e60000;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #1a1a1a;
    --chart-1: #ff5733;
    --chart-2: #2bb673;
    --chart-3: #4c8cbb;
    --chart-4: #6bcf42;
    --chart-5: #ffb733;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
